<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="7"
          android:versionName="1.1.0" package="com.statichiss">
    <application android:name=".recordio.RadioApplication" android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher" android:debuggable="false">
        <activity android:name=".recordio.RadioActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".recordio.ConfirmDetailsActivity"
                  android:label="@string/app_name_confirm_details_activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".recordio.ListScheduledRecordingsActivity"
                  android:label="@string/app_name_list_scheduled_recordings"
                  android:screenOrientation="portrait"/>
        <activity android:name=".recordio.AddNewScheduledRecordingActivity"
                  android:label="@string/app_name_add_new_scheduled_recordings"
                  android:screenOrientation="portrait"/>
        <receiver android:name=".recordio.recording.RecordingBroadcastReceiver">
            <intent-filter>
                <action android:name="com.statichiss.recordio.recording.RecordingBroadcastReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".recordio.RebootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".recordio.PlayerService">
            <intent-filter>
                <action android:name="com.statichiss.recordio.PlayerService"/>
            </intent-filter>
        </service>
        <service android:name=".recordio.recording.RecorderService">
            <intent-filter>
                <action android:name="com.statichiss.recordio.recording.RecorderService"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="8" android:maxSdkVersion="11" android:targetSdkVersion="10"/>
</manifest>
