<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cpdev"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:name=".RadioApplication" android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:debuggable="true">
        <activity android:name="RadioActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmDetailsActivity" android:label="@string/app_name_confirm_details_activity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ListScheduledRecordingsActivity"
                  android:label="@string/app_name_list_scheduled_recordings"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AddNewScheduledRecordingActivity"
                  android:label="@string/app_name_add_new_scheduled_recordings"
                  android:screenOrientation="portrait"/>
        <receiver android:name=".recording.RecordingBroadcastReceiver">
            <intent-filter>
                <action android:name="com.cpdev.recording.RecordingBroadcastReceiver"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".RebootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".PlayerService">
            <intent-filter>
                <action android:name="com.cpdev.PlayerService"/>
            </intent-filter>
        </service>
        <service android:name=".recording.RecorderService">
            <intent-filter>
                <action android:name="com.cpdev.recording.RecorderService"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
</manifest>
